body {
    margin: 0;
    padding: 0;
    background-color: #b3d4de; /*Defini a cor do fundo*/
    display: flex;
    flex-direction: column; /*Os elementtos do body vão estar em veticalmente*/
    min-height: 100vh; /*O body vai ocupar 100% da tela*/
}


/*Vai centralizar o conteudo do pagina no centro.*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/*Vai implementar um fundo branco, dando  seu tamanho, cor, borda e o centralizando.*/
.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
    text-align: center;
}

/*vai alterar um pouco as posições do conteudo do formulário*/
.login-form h2 {
    margin-bottom: 20px;
    font-size: 4em;
}

.login-form label {
    font-size: 2em;
    display: block; /*Vai fazer com que ocupe uma linha inteira*/
    text-align: left; /* E os alinhe a esquerda*/
    margin-left: 3.1em; /*move o label*/
}

/*Vai definir o input, seu tamanho, borda, cor argin...*/
.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 0px auto 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/*Deixa o botão flexivel(um ao lado do outro), centralizando e colocando uma margim entre eles e a borda do formulário.*/
.button-container {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-top: 20px;
    margin-bottom: 2em;
}

/*Estiliza o botão, com bordas e cor*/
.login-button,
.register-button {
    font-size: 1.5em;
    background-color: #89B8AA;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*Ao passar o cursor sobre os botões, altera a cor.*/
.login-button:hover,
.register-button:hover {
    background-color: #5aada3;
}

